.container {
  max-width: 70%;
  margin-top: 80px;
}
.row {
  text-align: center;
}
.fa-cloud-rain {
  font-size: 100px;
}
h1 {
  margin-bottom: 0ex;
}
body {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.wind {
  margin-bottom: 0px;
}
.temperature {
  font-weight: bolder;
  font-size: 40px;
}
.unit {
  position: relative;
  top: -24px;
}

#button-current {
  display: block;
  margin: auto 0px auto auto;
  font-size: 12px;
}
.date {
  margin-bottom: 0px;
}
small {
  text-align: left;
}
.name {
  color: white;
  background-color: rgba(0, 0, 0, 0.37);
}
.linkGit {
  background-color: rgba(0, 0, 0, 0.37);
}
.day-description:first-letter {
  text-transform: capitalize;
}
.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.active:hover {
  text-decoration: none;
}
.forecast-temperature-min {
  color: grey;
}
